core/**/*.jpg
.DS_Store
.env
.env*.local
.expo
.metro-health-check*
.npm-debug.*
.p12
.pem
.p8
.yarn-debug.*
.yarn-error.*
android
app-example
dist
expo-env.d.ts
ios
node_modules
web-build
*.jks
*.key
*.mobileprovision
*.orig.*
*.tsbuildinfo